* {
    margin: 0;
}

body {
    background-color: rgb(26, 13, 45);
}

.geral {
    margin: 40px;
}

.geral a:link {
    text-decoration: none;
    color: rgb(255, 0, 140);
    text-shadow: rgb(0, 0, 0) 3px 2px;
}

.geral a:visited{
    color: rgb(255, 0, 140);
}

.geral a:hover {
    color:white;
    background-color: rgba(210, 0, 35, 0.662);
    border-radius: 25%;
    
}

.dadosPessoais {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.foto {
    border-radius: 25px;
    margin: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 500px;
    height: 500px;
    border: solid rgba(54, 1, 1, 0.363) 2.5px
}

.dados {
    min-width: 400px;
    padding: 5px;
    padding-bottom: 0;
    margin: 5px;
    margin-bottom: 0;
    font-size: 40px;
    min-width: 50%;
}

.dados h2 {
    font-size: 65px;
}

.dados p {
    padding: 5px;
}

.infoMin {
    background: linear-gradient(rgba(255, 0, 119, 0.514), rgb(155, 70, 0));
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
    color: whitesmoke;
    text-shadow: rgb(111, 10, 10) 3px 2px, blue 0 4px 1.5px;
    font-size: 30px;
    margin-top: 0;
    display: grid;
}

.blocoInfo {
    background-color: rgba(54, 1, 1, 0.363);
    margin: 5px;
    padding: 5px;
    border: solid rgb(77, 0, 0) 2.5px;
    border-radius: 25px;
}

.descricao {
    color: white;
    font-size: 25px;
    margin: 5px;
    padding: 5px;
}

.descricao h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-shadow:
        rgba(33, 7, 72, 0.758) -5px 0px, rgba(63, 2, 110, 0.659) -10px 0px, rgba(80, 5, 146, 0.549) -15px 0px, rgba(3, 51, 172, 0.577) -20px 0px, rgba(255, 0, 0, 0.675) -25px 0px,
        rgba(33, 7, 72, 0.758) 5px 0px, rgba(63, 2, 110, 0.659)10px 0px, rgba(80, 5, 146, 0.549) 15px 0px, rgba(3, 51, 172, 0.577) 20px 0px, rgba(255, 0, 0, 0.675) 25px 0px;
}

.descricao h2 b{
    color: rgb(0, 0, 0);
    font-size: 120px;
    text-shadow: red 3px 3px, red -1px 5px, red -1px -1px, red 0 -1px, rgb(32, 5, 91) 10px 12px, rgb(32, 5, 91) 5px 12px, rgb(32, 5, 91) 0px 12px;
}

.descricao h2 b:hover{
    position: static;
    animation-duration: 2.5s;
    animation-name: glitch;
    animation-iteration-count: 1;
}

.rodape {
    margin-left: auto;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: red 3px 2px, blue 0 4px 1.5px;
}

.infoRodape {
    text-align: center;
}

.icon {
    width: 40px;
}

.icon:hover {
    filter: invert();
}

@keyframes glitch {
    20% {
        font-size: 130px;
        color: rgba(255, 255, 255, 0.719);
        text-shadow: rgba(255, 0, 0, 0.652) 15px 15px,
        rgba(0, 0, 155, 0.662) -15px -15px,
        rgba(255, 255, 0, 0.545) -15px 10px ;
    }

    40% {
        font-size: 110px;
        color: white;
        text-shadow: rgba(255, 0, 0, 0.652) -10px -10px,
        rgba(0, 0, 155, 0.662) 10px 10px,
        rgba(255, 255, 0, 0.545) 10px -0px ;
    }

    60% {
        font-size: 115px;
        color: white;
        text-shadow: rgba(255, 0, 0, 0.652) 0px 0px,
        rgba(0, 0, 155, 0.662) 0px 0px,
        rgba(255, 255, 0, 0.545) 0px 0px ;
    }

    80% {
        text-shadow:
        rgba(33, 7, 72, 0.758) -10px 0px, rgba(63, 2, 110, 0.659) -20px 0px, rgba(80, 5, 146, 0.549) -30px 0px, rgba(3, 51, 172, 0.577) -40px 0px, rgba(255, 0, 0, 0.675) -50px 0px,
        rgba(33, 7, 72, 0.758) 10px 0px, rgba(63, 2, 110, 0.659) 20px 0px, rgba(80, 5, 146, 0.549) 30px 0px, rgba(3, 51, 172, 0.577) 40px 0px, rgba(255, 0, 0, 0.675) 50px 0px;
    }

    90% {
        text-shadow:
        rgba(33, 7, 72, 0.758) -5px 0px, rgba(63, 2, 110, 0.659) -10px 0px, rgba(80, 5, 146, 0.549) -15px 0px, rgba(3, 51, 172, 0.577) -20px 0px, rgba(255, 0, 0, 0.675) -25px 0px,
        rgba(33, 7, 72, 0.758) 5px 0px, rgba(63, 2, 110, 0.659) 10px 0px, rgba(80, 5, 146, 0.549) 15px 0px, rgba(3, 51, 172, 0.577) 20px 0px, rgba(255, 0, 0, 0.675) 25px 0px;
    }
    
    100% {
        color: rgb(0, 0, 0);
        font-size: 120px;
        text-shadow: red 3px 3px, red -1px 5px, red -1px -1px, red 0 -1px, rgb(32, 5, 91) 10px 12px, rgb(32, 5, 91) 5px 12px, rgb(32, 5, 91) 0px 12px;
    }
}